body {
    font-family: monospace;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    background: rgba(48,50,54);
    color: white;
    text-align: center;
}

canvas {
    margin: auto;
    display: block;
    background: black;
    border: dashed white 2px;
    image-rendering: pixelated;
}

button {
    padding: 10px;
    border: none;
    margin: 3px;

    background: black;
    color: white;

    font-family: monospace;
}