body {
    font-family: monospace;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    background: rgba(48,50,54);
    color: white;
    text-align: center;
}

canvas {
    margin: auto;
    display: block;
    background: black;
    border: dashed white 2px;
    image-rendering: pixelated;
}

button, a {
    padding: 10px;
    border: none;
    margin: 3px;

    display: none;

    background: black;
    color: white;

    font-family: monospace;
}

section:target button, .menu2 button, a {
    display: inline-block;
}