body {
    font-family: monospace;
    padding: 10px;
    margin: 0;
    background: rgb(21, 21, 22);
    color: white;
    text-align: center;
}

canvas {
    margin: auto;
    display: block;
    background: rgb(181, 204, 253);
    border: dashed white 2px;
    image-rendering: pixelated;
}

button, a, textarea {
    padding: 5px;
    border: none;
    margin: 6px 3px 0px 3px;

    display: none;

    background: rgb(44, 142, 255);
    color: white;

    font-family: monospace;
}

section:target button, .menu2 button, a, textarea {
    display: inline-block;
}